html{
  font-size: 62.5%;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}
li {
  list-style: none;
  
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
