@use "../setting/variable" as var;
@use "../mixin/responsive" as res;

.blog {
  // padding: 0 5%;
  &__content {
    padding: 60px 15px 35px;
    max-width: 930px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include res.blog {
      display: block;
    }
  }
}

.post {
  &__inner {
    width: 66%;
    @include res.blog {
      width: 100%;
    }
  }
  &__article {
    color: var.$top-color;
    figure {
      margin-top: 30px;
      margin-bottom: 40px;
    }
    h2 {
      font-size: 2.6rem;
    font-weight: bold;
    color: var.$top-color;
    margin-top: 40px;
    margin-bottom: 30px;
    }
    h3 {
      font-size: 2.2rem;
      font-weight: bold;
      padding-left: 10px;
      border-left: 4px solid var.$top-color;
      margin-top: 40px;
      margin-bottom: 30px;
    }
    p {
      font-size: 1.6rem;
      margin: 30px 0 ;
    }
    ol, ul {
      margin-top: 40px;
    }
    li {
      font-size: 1.6rem;
      position: relative;
      padding-left: 20px;
      line-height: 1.5;
      &::before {
        content: "●";
        width: 11px;
        height: 11px;
        color: #F5A623;
        position: absolute;
        left: 0;
      }
    }
    blockquote {
      padding: 25px 25px 25px 75px;
      background-color: #F8F8F8;
      position: relative;
      margin-top: 40px;
      &::before {
        content: "”";
        font-size: 100px;
        height: 50px;
        color: #B4B4B4;
        transform: rotate(180deg);
        position: absolute;
        top: 40px;
        left: 25px;
        @include res.sp {
          font-size: 80px;
        }
      }
    }
    div {
      max-width: 590px;
    }
    
    
  }
  &__title-date {
    position: relative;
  }
  &__date {
    position: absolute;
  right: 0;
  bottom: -60px;
  }
 
  &__category {
    color: #fff;
    font-size: 1.2rem;
    background-color: var.$top-color;
    text-align: center;
    padding: 10px 25px;
    display: inline-block;
  } 
  &__title {
    font-size: 2.8rem;
    font-weight: bold;
    color: var.$top-color;
    margin-top: 30px;
  }
  &__img {
    max-width: 590px;
    // width: 100%;
    margin-top: 30px;
  }
  &__heading {
    font-size: 2.6rem;
    font-weight: bold;
    color: var.$top-color;
    margin-top: 40px;
    &-text {
      font-size: 1.6rem;
      color: var.$top-color;
      line-height: 1.5;
      margin-top: 30px;
    }
  }
  &__sub-heading {
    font-size: 2.2rem;
    font-weight: bold;
    color: var.$top-color;
    padding-left: 10px;
    border-left: 4px solid var.$top-color;
    margin-top: 33px;
    &-text {
      font-size: 1.6rem;
      color: var.$top-color;
      line-height: 1.5;
      margin-top: 30px;
    }
  }
  &__quote {
    color: var.$top-color;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #F8F8F8;
    margin-top: 30px;
    padding: 26px;
    
  }
  &__list {
    margin-top: 30px;
  }
  &__item {
    font-size: 1.6rem;
    color: var.$top-color;
    list-style-type: disc;
    list-style-position: inside;
  }
  &__text-link {
    display: inline-block;
    font-size: 1.8rem;
    color: #F5A623;
    text-decoration: underline;
    text-decoration-color: #F5A623;
    margin-top: 50px;
  }


}
.wp_social_bookmarking_light {
  margin-top: 30px;
}
.wp_social_bookmarking_light .wsbl_facebook_like {
  margin-right: -5px;
}


.recommend-article{
  padding-top: 30px;
  // padding-bottom: 120px;
  &__content {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    @include res.footer {
      display: block;
    }
  }
  &__blog {
    width: 47.777%;
    @include res.footer {
      width: 80%;
      margin: 0 auto;
    }
    @include res.sp {
      width: 100%;
    }
  }
  &__title {
    font-size: 3.2rem;
    font-weight: bold;
    color: var.$top-color;
    margin-bottom: 30px;
    @include res.blog {
      color: #fff;
      background-color: var.$top-color;
      padding: 20px 0 20px 20px;
      font-size: 2.1rem;
    }
  }
  &__item {
    margin-bottom: 30px;

  }
 
  &__link {
    display: flex;
    justify-content: space-between;
    // width: 47.77%;
    max-width: 430px;
    min-height: 110px;
    position: relative;
  
  }
  &__type {
    position: absolute;
    top: 0;
    left: 0;
    // width: 78px;
    // height: 23px;
    text-align: center;
    padding: 5px 9px ;
    color: #fff;
    background-color: var.$top-color;
    font-size: 1.2rem;

  }
  &__img {
    width: 34.883%;
    display: block;
  }
  &__text {
    width: 60.465%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  &__sub-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: var.$top-color;
    text-decoration: underline;
    text-decoration-color: var.$top-color;
    // border-bottom: 1px solid var.$top-color;
  }
  &__date {
    font-size: 1.2rem;
    color: var.$top-color;
  }

  &__info {
    width: 44.666%;
    @include res.footer {
      width: 80%;
      margin: 50px auto 0;
      // margin-top: 50px;
    }
    @include res.sp {
      width: 100%;
    }
  }
  &__info-date {
    font-size: 1.2rem;
    margin-bottom: 16px;
  }
  &__info-sub-title {
    font-size: 1.6rem;
    color: var.$top-color;
    text-decoration: underline;
    text-decoration-color: var.$top-color;
  }
  &__info-item {
    min-height: 90px;
    display: flex;
    flex-direction: column;
    &:not(:first-of-type) {
      margin-top: 17px;
    }
  }

}
.blog-sidebar {
  width: 30%;
  @include res.blog {
    width: 100%;
  }

}
.connect-article {

  &__head {

    color: #fff;
    background-color: var.$top-color;
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
    padding: 18px 0;
    @include res.blog {
      text-align: start;
      padding: 18px;
      margin-top: 35px;
    }

  }  
  &__list {
    margin: 30px 0;
  }
  // &__item {
  //   display: flex;
  //   justify-content: space-between;
  //   margin-bottom: 35px;
  //   @include res.blog {
  //     justify-content: start;
  //   }
  // }
  &__img {
    width: 37%;
    // height: 70px;
    @include res.blog {
      // width: auto;
      width: 34.883%;

    }
  }
  &__link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    @include res.blog {
      justify-content: start;
      max-width: 430px;
    min-height: 110px;
    }
  }
  &__title {
    width: 56%;
    color: var.$top-color;
    font-size: 1.2rem;
    text-decoration: underline;
    text-decoration-color: var.$top-color;
    @include res.blog {
      margin-left: 15px;
      font-size: 1.6rem;
    font-weight: bold;
    }
  }
}

.category {
  &__head {
    color: #fff;
    background-color: var.$top-color;
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
    padding: 18px 0;
    @include res.blog {
      text-align: start;
      padding: 18px;
    }
  }
  &__list {
    margin-top: 30px;
    li {
      list-style: disc;
      list-style-position: inside;
     
      a {
        font-size: 1.6rem;
        font-weight: bold;
        color: var.$top-color;
      }
    }
  }
  &__item {
    list-style-type: disc;
    list-style-position: inside;
    color: var.$top-color;
    font-size: 1.6rem;
    font-weight: bold;
    &:not(:first-of-type) {
      margin-top: 16px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////
// wordpress

// .post-categories {
//   margin-top: 30px;
//   li {
//     font-size: 1.6rem;
//     font-weight: bold;
//     list-style-type: disc;
//     list-style-position: inside;
//     a {
//       color: var.$top-color;
//     }
//   }
// }