@use "../mixin/responsive" as res;

.document {
  height: 256px;
  background-image: url(../img/contact-fv@2x.png);
  background-size: cover;
  background-position: center top;
  text-align: center;
  color: #fff;
  padding: 60px 15px 41px;
  &__title {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 15px;
    @include res.sp {
      font-size: 2.3rem;
    }
  }
  &__contact {
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    text-decoration: underline;
    margin-top: 22px;
    transition: .3s;
    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 0.451);
      transition: .3s;
    }
    @include res.sp {
      margin-top: 10px;
      font-size: 1.4rem;
    }
  }
}

