@use "../mixin/responsive" as res;



.fnav {
  
  &__list {
    display: flex;
   @include res.footer {
    justify-content: center;
   }

  }
  &__item {
    &:not(:first-of-type) {
      padding-left: 21.5px;
      border-left: 1px solid #fff;
      @include res.footer {
        padding-left: 10px;
      }
    }
    &:not(:last-of-type) {
      margin-right: 21.5px;
      @include res.footer {
        margin-right: 10px;
      }
    }
  }
  &__link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    @include res.footer {
      font-size: 1.4rem;
    }
  }
}