@use "../mixin/responsive" as res;
@use "../setting/variable" as var;

.header {
  position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 100;
    @include res.sp {
      height: 60px;
    }
  &__inner {
    // max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    @include res.sp {
      padding:  10px;
    }
  }
  &__right {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}
.right {
  &__text {
    margin-right: 23px;
    
  }
  &__time {
    font-size: 1.2rem;
    text-align: right;
    // margin-bottom: 5px;
    @include res.sp {
      margin-bottom: 0;
    }
  }
  &__phone-num {
    font-size: 1.6rem;
    font-weight: bold;
   &_link {
    color: var.$top-color;
    &_footer {
      color: #fff;
    }

   }
  }
  &_tab {
    @include res.tab {
      display: none;
    }
  }
  
}
.phone-icon {
  width: 10px;
  height: 14.71px;
 vertical-align: baseline;
 margin-right: 5px;
 
}

.top-info {
  &_tab {
    display: none;
    @include res.tab {
      display: block;
      margin-left: 30px;
    }
  
  }
}